
<div class="container-fluid  mtk-back bg-white m-0 p-0">
    <div class="row justify-content-around mtk-navbar align-items-center px-4 m-0">
        <div class="col-8 p-0 text-right py-2 animated fadeInDown">
            <a href="#" class="text-white">
                پارچه سرای<span class="text-yellow-bold font-weight-bold"> زرپوش</span>
            </a>
        </div>
        <div class="col-4 p-0 py-2 animated fadeInDown text-left">
            <a asp-action="index" class="align-middle">
                <img src="~/mtk/images/icon/arrow-left.svg" alt="Alternate Text" />
            </a>
        </div>
    </div>
</div>