@model ICollection<KaraYadak.Models.Blog>
<div class="container-fluid w-100 mx-atuo">
    <div class="row w-100 mx-auto text-center py-4 pt-5">
        <div class="col-lg-5 col-3 text-left pt-4">
            <img src="./img/Line 35.png" class="img-fluid w-25 mx-auto border-titr">
        </div>
        <div class="col-lg-2 col-6">
            <h2><b class="font-kalameBlack"> اخرین های بلاگ</b></h2>
        </div>
        <div class="col-lg-5 col-3 text-right pt-4">
            <img src="./img/Line 35.png"
                 class="img-fluid w-25 mx-auto border-titr">
        </div>
    </div>

    <div class="row w-100 mx-auto text-center py-5 mb-5">
        <!-- --- -->
        <!-- Swiper -->
        <div class="swiper-container swiper-containerBlog">
            <div class="swiper-wrapper">
                @foreach (var item in Model)
                {
                    <div class="swiper-slide">
                        <div class=" hj-blog p-0">
                            <div class="row w-100 mx-auto titr-blog">
                                <h5 class="py-2 pr-4 pt-3"><b>@item.Title</b></h5>
                            </div>
                            <div class="row w-100 mx-auto py-2">
                                <div class="col-7 detalis-blog px-4 py-3">
                                    <h6 class="text-justify">
                                      @item.ShortDescription
                                    </h6>
                                </div>
                                <div class="col-5 pt-4">
                                    <img src="/uploads/Blogs/@item.Image" class="img-fluid w-100 mx-auto">
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>

        </div>
        <!-- ---- -->


    </div>

</div>