@model ICollection<KaraYadak.ViewModels.ProductForIndexVM>
<div class="row w-100 mx-auto">
    <!-- ---swiper-- -->
    <div class="swiper-container swiper-container4 swiper-container-initialized swiper-container-horizontal swiper-container-free-mode swiper-container-rtl"
         style="height:auto !important">
        <div class="swiper-wrapper hj-img-swiper"
             style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
            @foreach (var item in Model)
            {
                <div class="swiper-slide" style="width: 226.25px; margin-left: 30px;">
                    <div class="hj-card my-5 py-5 w-100">
                        <a class="d-block w-100 text-decoration-none" href="/Products/ProductDetail?code=@item.Code">
                            <img src="@item.Picture" class="img-fluid hj-productImg w-75">
                            <div class="pt-5 mt-2 px-3 ">
                                <h3 class="d-block font-kalameBlack text-center text-truncate text-dark" style="max-width:100%;">@item.Title</h3>
                            </div>
                            <div class="pb-3 px-5 ">
                                <span class="font-kalame text-center mx-auto text-success">450.500</span>
                            </div>
                        </a>

                        <div class="">
                            <button type="button" onclick=""
                                    class="btn btn-primary w-75 mx-auto text-center hj-more-button py-2 waves-effect waves-light">
                                افزودن به سبد خرید
                            </button>
                        </div>

                    </div>
                </div>

            }

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
</div>
