@model ICollection<KaraYadak.ViewModels.ProductForIndexVM>
    <div class="row  hj-gallery py-5 m-0 p-0 mt-5">
        <div class="col-lg-3 mv-g-title col-12 px-4 d-flex flex-column justify-content-center">
            <div class="row w-100 mx-auto mb-3">
                <h2 class="text-right w-100"><b class="hj-producttext text-white">پیشنهاد های</b></h2>
            </div>

            <div class="row w-100 mx-auto mb-3">
                <h1 class="text-center w-100 "><b class="hj-prouduct-Tslider"> ویژه</b></h1>
            </div>
            <div class="row w-100 mx-auto mb-0 text-white">
                <h2 class="text-left w-100 "><b class="hj-producttext text-white"> امروز</b></2>
            </div>


            @*<div class="row w-100 mx-auto text-center my-3 mb-5">
                <span id="timer-offer1" class="timer-offer w-100 mx-auto" style="font-weight: bold;"></span>
            </div>*@

        </div>
        <div class="col-lg-9  col-12">
            <div class="swiper-container swiper-container2 swiper-container-initialized swiper-container-horizontal swiper-container-free-mode swiper-container-rtl"
                 style="height:auto !important">
                <div class="swiper-wrapper hj-img-swiper"
                     style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                   
                    @foreach (var item in Model)
                    {
                    <div class="swiper-slide swiper-slide-active" style="width: 311.667px; margin-left: 30px;">



                        <div class="hj-card my-5 py-5 w-100">
                            <a class="d-block w-100 text-decoration-none" href="/Products/ProductDetail?code=@item.Code">
                                <img src="@item.Picture" class="img-fluid hj-productImg w-75">
                                <div class="pt-5 mt-2 px-3 ">
                                    <h3 class="d-block font-kalameBlack text-center text-truncate text-dark" style="max-width:100%;">@item.Title</h3>
                                </div>
                                <div class="pb-3 px-5 ">
                                    <span class="font-kalame text-center mx-auto text-success">450.500</span>
                                </div>
                            </a>

                            <div class="">
                                <button type="button" onclick=""
                                        class="btn btn-primary w-75 mx-auto text-center hj-more-button py-2 waves-effect waves-light">
                                    افزودن به سبد خرید
                                </button>
                            </div>
                        </div>
                    </div>
                    }

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>

        </div>



    </div>
