@model KaraYadak.ViewModels.EditProfileViewModel

@{
    ViewBag.Title = "ویرایش پروفایل";
    Layout = "_AdminPanel";
}
@section scripts{
    <script>
        $('form').submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (data) {
                    console.log(data);
                }
            });
        });
    </script>
}

@await Component.InvokeAsync(nameof(KaraYadak.Components.PageHeaderComponent), new { Page = ViewBag.Title, Parent = "", ParentUrl = "" })

<div class="content-body">
    <section id="basic-vertical-layouts">
        <div class="row match-height">
            <div class="col-md-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">@ViewBag.Title</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form asp-action="Edit" method="post">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="first-name-vertical">نام </label>
                                                <input type="text" required class="form-control" asp-for="FirstName" placeholder="نام">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="first-name-vertical">نام خانوادگی </label>
                                                <input type="text" class="form-control" asp-for="LastName" placeholder="نام خانوادگی">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="first-name-vertical">ایمیل </label>
                                                <input type="text" required class="form-control" asp-for="Email" placeholder="ایمیل">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="first-name-vertical">شماره همراه </label>
                                                <input type="text" class="form-control" asp-for="Phone" placeholder="شماره همراه">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="first-name-vertical">نام کاربری </label>
                                                <input type="text" class="form-control" asp-for="Username" placeholder="نام کاربری">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="first-name-vertical">کلمه عبور </label>
                                                <input type="text" class="form-control" asp-for="Password" placeholder="کلمه عبور">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="first-name-vertical">تائید کلمه عبور </label>
                                                <input type="text" class="form-control" asp-for="ConfirmPassword" placeholder="تائید کلمه عبور">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary mr-1 mb-1">ثبت تغییرات</button>
                                            <a asp-action="index" class="btn btn-outline-warning mr-1 mb-1">بازگشت</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>