@font-face {
    font-family: IRANSansWeb_Black;
    font-style: normal;
    font-weight: 900;
    src: url('IRANSansWeb_Black.woff2') format('woff2'); /* FF39+,Chrome36+, Opera24+*/
}

@font-face {
    font-family: IRANSansWeb_Bold;
    font-style: normal;
    font-weight: bold;
    src: url('IRANSansWeb_Bold.woff2') format('woff2'); /* FF39+,Chrome36+, Opera24+*/
}

@font-face {
    font-family: IRANSansWeb_Medium;
    font-style: normal;
    font-weight: 500;
    src: url('IRANSansWeb_Medium.woff2') format('woff2'); /* FF39+,Chrome36+, Opera24+*/
}

@font-face {
    font-family: IRANSansWeb_Light;
    font-style: normal;
    font-weight: 300;
    src: url('IRANSansWeb_Light.woff2') format('woff2'); /* FF39+,Chrome36+, Opera24+*/
}

@font-face {
    font-family: IRANSansWeb_UltraLight;
    font-style: normal;
    font-weight: 200;
    src: url('IRANSansWeb_UltraLight.woff2') format('woff2'); /* FF39+,Chrome36+, Opera24+*/
}

@font-face {
    font-family: IRANSansWeb;
    font-style: normal;
    font-weight: normal;
    src: url('IRANSansWeb.woff2') format('woff2'); /* FF39+,Chrome36+, Opera24+*/
}

*:not(i) {
    font-family: IRANSansWeb;
}