@model IEnumerable<KaraYadak.Models.Baner>

@using KaraYadak.Helper;

@{
    ViewBag.Title = "لیست بنر ها";
    Layout = "_layout";
}
@section vendorstyles{
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/datatables.min.css" />

}
@section styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css-rtl/core/colors/palette-gradient.css" />
    <link href="~/css/PersianDatePicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
}
@section vendors{
    <script src="/app-assets/vendors/js/extensions/sweetalert2.all.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/pdfmake.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/vfs_fonts.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/buttons.print.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <script src="~/js/PersianDatePicker.js"></script>
    <script src="~/assets/Datepiker/persian-date.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="~/assets/Datepiker/daterangepicker.css" rel="stylesheet" />
    <script src="~/assets/Datepiker/daterangepicker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-rtl.min.css"
          integrity="sha256-QaRlBIHoN1LIkxeziW34nknOVrCasnLJY6esf3ldv+k=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha512-GDey37RZAxFkpFeJorEUwNoIbkTwsyC736KNSYucu1WJWFK9qTdzYub8ATxktr6Dwke7nbFaioypzbDOQykoRg==" crossorigin="anonymous"></script>
}
@section scripts{
    <script>
        //$('#input_starttime').pickatime({});




        function onTimeChange() {
            var timeSplit = $("#time").val().split(':'),
                hours,
                minutes,
                meridian;
            hours = timeSplit[0];
            minutes = timeSplit[1];
            if (hours > 12) {
                meridian = 'PM';
                hours -= 12;
            } else if (hours < 12) {
                meridian = 'AM';
                if (hours == 0) {
                    hours = 12;
                }
            } else {
                meridian = 'PM';
            }
            return hours + ':' + minutes + ' ' + meridian;
        }

        //var uploadFileExtentions = ["JPEG", "PNG", "GIF", "PDF", "DOC", "DOCM", "DOCX", "DOT", "TXT", "JPG"];
        var uploadFileExtentions = ["JPEG", "PNG", "GIF","JPG"];

        $("#create").submit(function (e) {
            e.preventDefault();



            function onTimeChange() {
                var inputEle = document.getElementById('time');

                var timeSplit = inputEle.value.split(':'),
                    hours,
                    minutes,
                    meridian;
                hours = timeSplit[0];
                minutes = timeSplit[1];
                if (hours > 12) {
                    meridian = 'PM';
                    hours -= 12;
                } else if (hours < 12) {
                    meridian = 'AM';
                    if (hours == 0) {
                        hours = 12;
                    }
                } else {
                    meridian = 'PM';
                }
              return(hours + ':' + minutes + ' ' + meridian);
            }

            var formdata = new FormData(this);
            formdata.set("time", onTimeChange());

            //var fileUpload = $("#image").get(0);


            //let form = new FormData();
            //form.append("Url", $("#url").val());
            //form.append("Date", $("#date").val());
            //form.append("Time", onTimeChange());
            //form.append("Image", fileUpload.files[0]);


            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                dataType: false,
                data: formdata,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.status == 1) {
                        toastr.success(data.message);
                    }
                    else {
                        toastr.error(data.message);

                    }
                },
                error: function (data) {

                }
            })

        })
          function DeleteItem(id){
            Swal.fire({
                title: '',
                text: "آیا مطمئن به حذف هستید؟",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'بله',
                cancelButtonText: 'خیر',
                confirmButtonClass: 'btn btn-primary',
                cancelButtonClass: 'btn btn-danger ml-1',
                buttonsStyling: false,
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("delete","baner")',
                        data: "id=" + id,
                        success: function (data) {
                            oTable.draw();
                        }
                    });

                    Swal.fire({
                        type: "success",
                        title: '',
                        text: 'با موفقیت حذف شد',
                        confirmButtonClass: 'btn btn-success',
                        confirmButtonText: 'باشه',
                    });
                }
            });
        }
        var oTable = $('.zero-configuration').DataTable({
            processing: true,
            ordering: false,
            //serverSide: true,
            language: {
                url: "/app-assets/vendors/js/tables/datatable/Persian.json"
            },
            ajax: {
                url: '@Url.Action("index","baner")',
                type: "POST",
                dataType: "json",
                delay: 1000,
                data: function (d) {
                    //d._token = $('meta[name="csrf-token"]').attr('content');
                    //d.created_start = $('input[name=created_start]').val();
                }
            },
            columns: [

                {
                    data: 'url',
                render: function (data, type, item) {
                    return `<div><a style="max-width: 106px;" href="${data}">${data}<a/><div/>`
                },
                    name: 'url'
                },
                {
                    data: 'updatedAt',
                    name: 'updatedAt'
                },
                //{
                //    data: 'id',
                //    name: 'id'
                //},
            ],
            //columnDefs: [
            //    {
            //        targets: -1,
            //        render: function (data, type, row) {
            //            return '<button type="button" onclick="DeleteItem('+ data +')" class="btn btn-icon btn-sm btn-warning"><i class="feather icon-trash-2"></i></button>';
            //        }
            //    },
            //],
        });
    </script>
}
@*@await Component.InvokeAsync(nameof(KaraYadak.Components.PageHeaderComponent), new { Page = ViewBag.Title, Parent = "", ParentUrl = "" })*@

<div class="content-body">
    <section id="basic-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">@ViewBag.Title</h4>

                        <button class="btn btn-success" type="button" data-toggle="modal" data-backdrop="false" data-target="#backdrop"><i class="feather icon-plus"></i>ثبت جدید </button>
                        <!-- Modal -->
                        <div class="modal fade text-left" id="backdrop" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">ثبت جدید</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form id="create" asp-action="create" asp-controller="Baner" method="post" enctype="multipart/form-data">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input type="text" placeholder="لینک" name="url" id="url" class="form-control" maxlength="200" required="" oninvalid="this.setCustomValidity('ایمیل را وارد کنید')" oninput="setCustomValidity('')">
                                            </div>
                                            @*<span asp-validation-for="First().Url"></span>*@
                                            @**@
                                        </div>
                                        <div class="modal-body row">
                                            <input type="text" id="date" name="date" placeholder="تاریخ" class="form-control col-6" onclick="PersianDatePicker.Show(this, '@DateTime.Now.ToShamsi()');" />
                                            <div class="md-form col-4">
                                                <input placeholder="زمان" name="time" type="time" id="time" class="form-control">
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input type="file" name="Image" id="image" class="form-control">
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">ثبت</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">
                                <table class="table zero-configuration">
                                    <thead>
                                        <tr>
                                            <th>لینک</th>
                                            <th>تاریخ ایجاد</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>