@{
    ViewData["Title"] = "درباره ما";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@section styles{
    <link href="~/css/aboutus.css" rel="stylesheet" />
}

<div class="container-fluid p-0 mx-auto  bg-product">
    <partial name="Header" />    
    
</div>
<div class="aboutus-container">
    <div class="aboutus-holder">
        <div class="title"> درباره ما </div>
        <div class="description"> درباره ما </div>
    </div>
</div>