@using KaraYadak.Helper
@{
    ViewBag.Title = "فروش ویژه دوشنبه";
    Layout = "_SiteLayout";

}

@section styles{
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/profile.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha256-aAr2Zpq8MZ+YA/D6JtRD3xtrwpEz2IqOS+pWD/7XKIw=" crossorigin="anonymous" />
    <!-- Font Awesome -->

    <link href="~/range-slider/css/ion.rangeSlider.min.css" rel="stylesheet" />
    <link href="~/css/modal.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" />

    <style>
        #PostTypeForm {
            margin-top: 5%;
            margin-right: 44%;
        }
        .navbar {
            background: blue !important;
        }
    </style>
}

@Html.Partial("Header")
<div class="m-auto">body</div>

@section scripts{


    <script src="~/range-slider/js/ion.rangeSlider.min.js"></script>

}
