@{
    Layout = "_SiteLayout";
}
@section styles{
}
@section scripts{

}

<div class="container-fluid hj-content pb-5 pt-3">


    <div class="container">
        <div class="row w-100 ">
            <div class="col-12 mt-3 pt-5 pb-5">
                <h4 class="text-center hj-titr-group">دسته بندی ها</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-12 mt-2 mb-2">
                <img src="~/img/r1.png" class=" hj-Grouping img-fluid w-100" alt="Responsive image">
                <button type="button" class="btn btn-light hj-Grouping-button w-50 waves-effect waves-light">انواع رنگ</button>
            </div>
            <div class="col-md-4 col-12 mt-2 mb-2">
                <img src="~/img/r2.png" class=" hj-Grouping img-fluid w-100" alt="Responsive image">
                <button type="button" class="btn btn-light hj-Grouping-button w-50 waves-effect waves-light">انواع طرح</button>
            </div>
            <div class="col-md-4 col-12 mt-2 mb-2">
                <img src="~/img/r3.png" class=" hj-Grouping img-fluid w-100" alt="Responsive image">
                <button type="button" class="btn btn-light hj-Grouping-button w-50 waves-effect waves-light">انواع کاربرد</button>
            </div>

            <div class="col-md-4 col-12 mt-2 mb-2">
                <img src="~/img/r4.png" class=" hj-Grouping img-fluid w-100" alt="Responsive image">
                <button type="button" class="btn btn-light hj-Grouping-button w-50 waves-effect waves-light">فصلی</button>
            </div>
            <div class="col-md-4 col-12 mt-2 mb-2">
                <img src="~/img/r5.png" class="hj-Grouping img-fluid w-100" alt="Responsive image">
                <button type="button" class="btn btn-light hj-Grouping-button w-50 waves-effect waves-light">مردانه</button>
            </div>
            <div class="col-md-4 col-12 mt-2 mb-2">
                <img src="~/img/r6.png" class=" hj-Grouping img-fluid w-100" alt="Responsive image">
                <button type="button" class="btn btn-light hj-Grouping-button w-50 waves-effect waves-light">انواع جنس</button>
            </div>
        </div>
    </div>

</div>

