@{
    ViewBag.Title = "زرپوشـــــــــــ";
    Layout = "_SiteLayout";
}

<div class="container-fluid p-0 m-0 ">
    <div class="row hj-sliderDesignDetalis ">
        <div class="col-lg-8 pt-5 mt-5  pb-3">
            <div class="swiper-container main-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide ">
                        <img src="~/img/11.png" class="img-fluid" alt="Responsive image">

                    </div>
                    <div class="swiper-slide ">
                        <img src="~/img/11.png" class="img-fluid" alt="Responsive image">

                    </div>

                </div>



            </div>


            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>


        <div class="col-lg-4 pt-5 mt-5 pb-3">

            <div class=" hj-profile mx-auto">
                <div class="row  w-100 hj-img-profile mx-auto">
                    <img src="~/img/h2.png" class="img-fluid image-profile-desi mx-auto " alt="Responsive image">
                </div>

                <div class="row w-100 mx-auto mt-5 pt-5">
                    <div class="col-12">
                        <h3 class="text-center w-100">احمد احمدی</h3>
                    </div>
                    <div class="col-12 pt-5 footer-titr">
                        <h5 class="text-center w-100"> شماره تماس</h5>
                    </div>
                    <div class="col-12 pt-3">
                        <h4 class="text-center w-100"> 09113356854</h4>
                    </div>
                    <div class="col-12 pt-4 pb-4 footer-titr">
                        <h5 class="text-center w-100"> لیست قیمت </h5>
                    </div>

                </div>
                <div class="row w-100 mx-auto text-center hj-share-Pro pt-4 ">

                    <div class="col-4 "><i class="fa fa-whatsapp hj-H-whatsapp"></i></div>
                    <div class="col-4 "><i class="fa fa-telegram hj-H-telegram"></i></div>
                    <div class="col-4 "><i class="fa fa-instagram hj-H-instagram "></i></div>
                </div>

            </div>
        </div>
    </div>



</div>
<!-- ------Portfolio---- -->
<div class="container-fluid p-0 m-0 pt-5 hj-sliderDesignDetalis mx-auto text-center mb-5">
    <div class="row w-100"><h2 class="text-center w-100 footer-titr ">نمونه کارها</h2></div>
    <div class="row w-100 mx-auto">
        <div class="col-lg-2 col-sm-3  py-2">
            <img src="~/img/p1.png" class="img-fluid" alt="Responsive image">
            <button class=" buton-designersdetalis ">مشاهده</button>
        </div>
        <div class="col-lg-2 col-sm-3 py-2">
            <img src="~/img/p2.png" class="img-fluid" alt="Responsive image">
            <button class=" buton-designersdetalis ">مشاهده</button>
        </div>
        <div class="col-lg-2 col-sm-3 py-2">   <img src="~/img/p1.png" class="img-fluid" alt="Responsive image">        <button class=" buton-designersdetalis ">مشاهده</button></div>
        <div class="col-lg-2 col-sm-3 py-2">     <img src="~/img/p2.png" class="img-fluid" alt="Responsive image">        <button class=" buton-designersdetalis ">مشاهده</button></div>
        <div class="col-lg-2 col-sm-3 py-2">   <img src="~/img/p1.png" class="img-fluid" alt="Responsive image">        <button class=" buton-designersdetalis ">مشاهده</button></div>
        <div class="col-lg-2 col-sm-3 py-2">     <img src="~/img/p2.png" class="img-fluid" alt="Responsive image">        <button class=" buton-designersdetalis ">مشاهده</button></div>
        <div class="col-lg-2 col-sm-3 py-2">     <img src="~/img/p1.png" class="img-fluid" alt="Responsive image">        <button class=" buton-designersdetalis ">مشاهده</button></div>
        <div class="col-lg-2 col-sm-3 py-2">     <img src="~/img/p2.png" class="img-fluid" alt="Responsive image">        <button class=" buton-designersdetalis ">مشاهده</button></div>
        <div class="col-lg-2 col-sm-3 py-2">     <img src="~/img/p1.png" class="img-fluid" alt="Responsive image">        <button class=" buton-designersdetalis ">مشاهده</button></div>
        <div class="col-lg-2 col-sm-3 py-2">     <img src="~/img/p2.png" class="img-fluid" alt="Responsive image">        <button class=" buton-designersdetalis ">مشاهده</button></div>
        <div class="col-lg-2 col-sm-3 py-2">     <img src="~/img/p1.png" class="img-fluid" alt="Responsive image">        <button class=" buton-designersdetalis ">مشاهده</button></div>
        <div class="col-lg-2 col-sm-3 py-2">     <img src="~/img/p2.png" class="img-fluid" alt="Responsive image">        <button class=" buton-designersdetalis ">مشاهده</button></div>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha256-OFRAJNoaD8L3Br5lglV7VyLRf0itmoBzWUoM+Sji4/8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/fontawesome.min.js"
            integrity="sha256-fjQmECvnpgwxO4TyEkO7CJeu97Lu+JKoGDCNEVDs7X0=" crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"  
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"
            integrity="sha256-NiMdnMv0WBAps3M8mcB7WHzlanETt0rnwMCgg67DgCk=" crossorigin="anonymous"></script>
    <script>

        $(document).ready(() => {
            var swiper = new Swiper('.main-slider', {

                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                pagination: {
                    el: '.swiper-pagination'
                },
                mousewheel: true,
                keyboard: true,
            });

            var swiper2 = new Swiper('.slider2', {
                slidesPerView: 4,
                spaceBetween: 30,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        })
        function likeOrDislike(item) {
            if ($(item).children('i').hasClass('fa-heart-o')) {
                $(item).children('i').animate().addClass('fa-heart');
                $(item).children('i').attr('transform', 'scale(1.3)');
                $(item).children('i').animate().removeClass('fa-heart-o');
            } else {
                $(item).children('i').animate().addClass('fa-heart-o');
                $(item).children('i').attr('transform', 'scale(1.3)');
                $(item).children('i').animate().removeClass('fa-heart');
            }
        }

        $(".cta").mouseenter(function () {
            $(this).addClass("active").delay(300).queue(function (next) {
                $(this).removeClass("active");
                next();
            });

        });


    </script>

}