#videoContainer > div > span {
  padding: 0 !important;
}

.news-container {
}
.container-searchNavberOfNews {
}

.news-holder {
  width: 1280px;
  margin: 50px auto;
  direction: rtl;
  text-align: right;
}

.button-searchNavberOfNews {
  position: absolute;
  left: 3px;
  border-radius: 20px;
  top: 2px;
  background: #ffcc00;
}

.videosContainer {
  display: flex;
  justify-content: flex-end;
}
.videosContainerDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videosDescriptionContainer {
  padding: 0 10px;
  color: #555;
  font-size: 1rem;
  width: calc(100% - 320px);
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videosDescriptionContainer > p {
  color: #555;
  font-size: 1rem;
  cursor: default;
}
.videosDescriptionContainer > .vedioDetailLink {
  font-size: 1rem;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 8px;
  padding: 6px 8px;
  display: inline;
  width: fit-content;
  transition: 0.6s;
}
.videosDescriptionContainer > .vedioDetailLink:hover {
  filter: brightness(80%);
}

@media only screen and (max-width: 1280px) {
  .news-holder {
    width: 940px;
  }
}
@media only screen and (max-width: 960px) {
  .news-holder {
    width: 747px;
  }
}
@media only screen and (max-width: 767px) {
  .news-holder {
    width: 460px;
  }
  .videosContainer {
    flex-direction: column;
    align-items: center;
  }
  .videosDescriptionContainer {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .news-holder {
    width: 100%;
  }
  .container-searchNavberOfNews {
    width: 100%;
  }
}
