<div class="row w-100 mx-auto text-center py-4 mt-5 pt-5">
    <div class="col-lg-4 col-3 text-left pt-4">
        <img src="~/img/Line 35.png" class="img-fluid w-25 mx-auto border-titr">
    </div>
    <div class="col-lg-4 col-6">
        <h2><b class="font-kalameBlack"> نظر کاربران </b></h2>
    </div>
    <div class="col-lg-4 col-3 text-right pt-4">
        <img src="~/img/Line 35.png"
             class="img-fluid w-25 mx-auto border-titr">
    </div>
</div>


<div class="row w-100 mx-auto text-center py-5 mb-5">
    <!-- --- -->
    <!-- Swiper -->
    <div class="swiper-container swiper-containerBlog swiper-container-initialized swiper-container-horizontal swiper-container-rtl">
        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
            <div class="swiper-slide" style="width: 476.667px; margin-left: 30px;">
                <div class=" hj-blog p-0">
                    <div class="row w-100 mx-auto  bgComment">
                        <div class="col-6 text-right ">
                            <h6 class="py-2 pr-4 pt-3"><b> نظر کاربران </b></h6>
                        </div>
                        <div class="col-6 text-left pt-2">
                            <div class="star-rating">
                                <input id="star-5" type="radio" name="rating" value="star-5" />
                                <label for="star-5" title="5 stars">
                                    <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                                <input id="star-4" type="radio" name="rating" value="star-4" />
                                <label for="star-4" title="4 stars">
                                    <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                                <input id="star-3" type="radio" name="rating" value="star-3" />
                                <label for="star-3" title="3 stars">
                                    <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                                <input id="star-2" type="radio" name="rating" value="star-2" />
                                <label for="star-2" title="2 stars">
                                    <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                                <input id="star-1" type="radio" name="rating" value="star-1" />
                                <label for="star-1" title="1 star">
                                    <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="row w-100 mx-auto py-2">
                        <div class="col-12 detalis-blog px-4 py-3">
                            <h6 class="text-right"><b>حمیدرضاجلیور</b></h6><br>
                            <h6 class="text-justify">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                                و
                                بااستفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
                                در ستون و سطرآنچنانکه لازم است، و برای شرایط فعلی تکنولوژی مورد
                                نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،

                            </h6>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
            <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
                  aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button"
                                                          aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button"
                                                                                                  aria-label="Go to slide 3"></span>
        </div>

        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
    <!-- ---- -->


</div>